/*--- Table Style ----*/
:root{
	--primary: #18244d;
}
div .czCoqD
{
	color: var(--primary);
}
div .epZUJV{
	border:  2px solid var(--primary);
}
div .button svg{
	color: var(--primary);
}
/*---- Manage Dispute Form ---*/
label{
	color: #183D72 !important;
	font-size: 16px !important;
}
.dispute-form input{
	padding: 10px 14px !important;
}
.dispute-form .MuiTextField-root{
	margin-top: 10px;
}