/*--- Table Style ----*/
:root{
	--primary: #18244d;
	--secondary-light: #F4F5F9;
	--accent : #f48124;
}
div .czCoqD
{
	color: var(--primary);
}
div .epZUJV{
	border:  2px solid var(--primary);
}
div .button svg{
	color: var(--primary);
}

.fpBGKh .MuiBox-root{
	 width: 100% !important;
 }
 .fpBGKh .css-v3x8ju-MuiLinearProgress-root{
	height: 12px;
	border-radius: 4px;
	background-color: #eee;
 }
 .fpBGKh .css-9rrl0w-MuiLinearProgress-bar1{
	background-color: #00A15D;
 }
 div#cell-6-undefined .MuiBox-root p{
	text-align: right !important;
 }
 div#cell-3-undefined .MuiBox-root p{
	text-align: left !important;
	color: #FF8820;
 }
 .deUxZV .fpBGKh .MuiBox-root p{
	text-align: left !important;
 }
 .fpBGKh .erkbiK div:first-child{
	white-space: pre-wrap;
	color: #000;
 }
 .allowRowEvents{
	font-weight: 400;
	font-size: 14px;
 }
 .fpBGKh .lnOUep{
	white-space: pre-wrap;
 }
/*---- Manage Dispute Form ---*/
.dispute-form label{
	color: #183D72 !important;
	font-size: 16px !important;
}
.dispute-form input{
	padding: 10px 14px;
	background-color: var(--secondary-light);
	border-radius: 7px;
	color: var(--primary);
	font-weight: 700;

}
.MuiOutlinedInput-notchedOutline{
	border: 1px solid var(--secondary-light);
}
.dispute-form .MuiInputBase-root{
	margin-top: 10px;
	
}
.dispute-form fieldset{
    border: 1px solid var(--secondary-light);
	border-radius: 7px;
	color: var(--primary);
	
}
.dispute-form fieldset:hover{
	border:  1px solid var(--primary);
}
.dispute-form .css-13cymwt-control, .dispute-form .css-t3ipsp-control{
	width: 120px;
	height: 38px;
	display: flex;
	font-size: 16x !important;
	font-weight: 700;
	align-items: center;
	background-color: var(--secondary-light);
	border-radius: 7px;
}
.dispute-form .css-13cymwt-control input, .dispute-form .css-t3ipsp-control input{
	padding: 0;
}
.dispute-form .css-1u9des2-indicatorSeparator{
	margin-top: 10px;
	margin-bottom: 10px;
}
.dispute-form .css-4xgw5l-IndicatorsContainer2{
	height: 42px;
}
.dispute-form .css-w9q2zk-Input2{
	padding: 0;
	margin: 0;
}
.dispute-form .css-b62m3t-container{
	margin-top: 10px;
}
.dispute-form .css-1dimb5e-singleValue{
	font-weight: 700;
	color: var(--primary);
}
.dispute-form .css-1xc3v61-indicatorContainer{
	color: var(--primary);
	font-weight: bolder;
}
.dispute-table span{
 margin: 0;
 padding: 0;
}
/*--- Search Box ---*/
.search-box .MuiInputBase-formControl
{
	padding: 4px 10px !important;
	border-radius: 7px;
	border: none !important;
	background-color: var(--secondary-light);
	color: #000;
}
.css-1b6xtd7-MuiAutocomplete-listbox{
	max-height: 60vh !important;
}
ul li.MuiAutocomplete-option:nth-child(even){
	background-color: var(--secondary-light) !important;
 }
 ul li.MuiAutocomplete-option{
	font-weight: 500;
	font-size: 16px;
	color: #89868D;
 }
.search-box .MuiInputBase-formControl input{
	color: #000;
}
/*--- Breadcrumb ---*/
.MuiBreadcrumbs-li a{
	color: var(--primary);
	font-size: 16px;
}
.MuiBreadcrumbs-li a:hover{
	color: #285A9E;
	text-decoration: underline !important;
}
.MuiBreadcrumbs-li p{
	font-size: 16px;
}
/*--- Tabs ---*/
.MuiTabs-fixed .MuiTabs-flexContainer .css-mpo1kn-MuiButtonBase-root-MuiTab-root{
	color: #000 !important;
}
.MuiTabs-fixed .MuiTabs-flexContainer .css-mpo1kn-MuiButtonBase-root-MuiTab-root.Mui-selected{
 color: var(--accent) !important;
}
.MuiTabs-indicator{
	background-color: var(--accent) !important;
}
